{% extends 'base.html' %}


{% block content %}


<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>get in <span>touch</span></h1>
    <span class="title-bg">contact</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Left Side Starts -->
            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">
                <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">Hey there !</h3>
                <p class="open-sans-font mb-3">Feel free to get in touch with me.</p>
            </div>
            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">
                <p class="open-sans-font custom-span-contact">
                    <i class="fa fa-envelope-open"></i>
                    <span class="d-block">mail me</span>ankitm.am52@gmail.com
                </p>
            </div>
            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">
                <p class="open-sans-font custom-span-contact">
                    <i class="fa fa-phone-square"></i>
                    <span class="d-block">call me</span>+91 7709246634
                </p>
            </div>
<!--            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">-->
<!--                <p class="open-sans-font custom-span-contact">-->
<!--                    <i class="fa fa-linkedin-square"></i>-->
<!--                    <span class="d-block">LinkedIn</span>-->
<!--                </p>-->
<!--                <p class="open-sans-font custom-span-contact">-->
<!--                    <i class="fa fa-facebook-square"></i>-->
<!--                    <span class="d-block">Facebook</span>-->
<!--                </p>-->
<!--                <p class="open-sans-font custom-span-contact">-->
<!--                    <i class="fa fa-github"></i>-->
<!--                    <span class="d-block">Github</span>-->
<!--                </p>-->
<!--            </div>-->

<!--            </div>-->
<!--            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">-->
<!--                <p class="open-sans-font custom-span-contact">-->
<!--                    <i class="fa fa-facebook-square"></i>-->
<!--                    <span class="d-block">Facebook</span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="container-fluid" style="text-align: center; padding-bottom: 25px;">-->
<!--                <p class="open-sans-font custom-span-contact">-->
<!--                    <i class="fa fa-github"></i>-->
<!--                    <span class="d-block">Github</span>-->
<!--                </p>-->
<!--            </div>-->
        </div>
    </div>
</section>







<!--<div class="container-fluid">-->
<!--<ul class="icon-menu d-none d-lg-block revealator-slideup revealator-once revealator-delay1" >-->
<!--        <li class="icon-box">-->
<!--            <i class="fa fa-facebook" style="background: blue;color: black;"></i>-->
<!--            <a href="#">-->
<!--                <h4 style="color:#ffc107;">Facebook</h4>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="icon-box active">-->
<!--            <i class="fa fa-linkedin" style="background: blue;color: black;"></i>-->
<!--            <a href="#">-->
<!--                <h4 style="color:#ffc107;">Linkedin</h4>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="icon-box">-->
<!--            <i class="fa fa-github" style="background: white;color: black;"></i>-->
<!--            <a href="#">-->
<!--                <h4 style="color:#ffc107;">Github</h4>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->

<!--</div>-->

<!-- Header Ends -->
<!-- Page Title Starts -->


<div class="container" style="margin-left: 295px; margin-top: 17px;">

      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 g-3">
        <div class="col my=80px">
            <div class="container">
                <p class="open-sans-font custom-span-contact">
                    <i class="fa fa-linkedin-square" style="padding-left: 20px;"></i>
                    <span class="d-block"><a href="#">LinkedIn</a></span>
                </p>
            </div>
        </div>
        <div class="col">
            <p class="open-sans-font custom-span-contact">
                    <i class="fa fa-facebook-square" style="padding-left: 20px;"></i>
                    <span class="d-block"><a href="#">Facebook</a></span>
                </p>
        </div>
        <div class="=col">
            <p class="open-sans-font custom-span-contact">
                    <i class="fa fa-github" style="padding-left: 20px;"></i>
                    <span class="d-block"><a href="#">Github</a></span>
                </p>
        </div>

    </div>
</div>

{% endblock %}